[submodule "libs/planet"]
	path = libs/planet
	url = git@github.com:KayEss/planet.git
[submodule "libs/coro"]
	path = libs/coro
	url = git@github.com:Felspar/coro.git
[submodule "libs/test"]
	path = libs/test
	url = git@github.com:Felspar/test.git
[submodule "libs/exceptions"]
	path = libs/exceptions
	url = git@github.com:Felspar/exceptions.git
[submodule "libs/memory"]
	path = libs/memory
	url = git@github.com:Felspar/memory.git
[submodule "libs/planet-sdl"]
	path = libs/planet-sdl
	url = git@github.com:KayEss/planet-sdl.git
